# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# IDE or Editor-specific files
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# Jupyter Notebooks
.ipynb_checkpoints

# Python coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Pytest
.cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint-global.dat

# Sphinx
docs/_build/

# PyCharm
.idea/

# Environment variables (for example, a dotenv file)
.env
.env.*
